*.zip
L2/.ipynb_checkpoints
L2/L2_data/Europe_borders.cpg L2/L2_data/Europe_borders.dbf L2/L2_data/Europe_borders.prj L2/L2_data/Europe_borders.sbn L2/L2_data/Europe_borders.sbx L2/L2_data/Europe_borders.shp L2/L2_data/Europe_borders.shx L2/L2_data/ne_110m_admin_0_countries L2/L2_data/NLS
